@model IssueDetailsViewModel

@{
    ViewBag.Title = "Issue Details";
    var teamOwner = ViewBag.TeamOwner;
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Issue Details</h1>
    </div>

    <!-- Only show this if user belongs this this organization -->
    @if (teamOwner == Model.TeamOwner)
    {

        <!-- Only show these buttons to Admin-->
        @if (User.IsInRole("Admin"))
        {
            <div>
                <!-- If report is closed -->
                @if (Model.Resolution == "Closed")
                {

                    <a asp-controller="administration" asp-action="openbug" asp-route-id="@Model.Id" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Open</a>
                }
                else
                {
                    <a asp-controller="report" asp-action="update" asp-route-id="@Model.Id" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Update</a>
                }

                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" data-toggle="modal" data-target="#myModal">Delete</button>
            </div>

            <br />
        }

        <!-- Only show to Operations -->
        @if (User.IsInRole("Operations"))
        {
            @if (Model.Resolution == "Open")
            {
                <div>
                    <a asp-controller="report" asp-action="update" asp-route-id="@Model.Id" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Update</a>
                </div>

                <br />
            }
        }
    }

    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Project</th>
                    <th>Category</th>
                    <th>View Status</th>
                    <th>Date Submitted</th>
                    <th>Last Update</th>
                </tr>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.ProjectName</td>
                    <td>@Model.Category</td>
                    <td>Public</td>
                    <td>@Model.PostTime</td>
                    <td>@Model.LastUpdate</td>
                </tr>

                <tr class="spacer">
                    <td colspan="6"></td>
                </tr>

                <tr>
                    <th>Reporter</th>
                    <td>@Model.Reporter</td>
                    <th>Assigned To</th>
                    <td>@Model.AssignedTo</td>
                    <td colspan="2"></td>
                </tr>

                <tr>
                    <th>Priority</th>
                    <td>@Model.Priority</td>
                    <th>Severity</th>
                    <td>@Model.Severity</td>
                    <th>Reproducibility</th>
                    <td></td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td>@Model.Status</td>
                    <th>Resolution</th>
                    <td>@Model.Resolution</td>
                    <td colspan="2"></td>
                </tr>

                <tr>
                    <th>Summary</th>
                    <td colspan="5">@Model.Summary</td>
                </tr>

                <tr>
                    <th>Description</th>
                    <td colspan="5">@Html.Raw(Model.Description)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Note Section -->
    <div class="card">

        <!-- Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-primary">
            <h6 class="m-0 font-weight-bold text-white">Issue Activity</h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">

            @if (Model.Notes.Any())
            {
                @foreach (var note in Model.Notes)
                {
                    <div class="card-group">

                        <!-- Profile Info -->
                        <div class="card shadow bg-light">
                            <div class="card-block">
                                <div class="row" style="padding:20px">
                                    <div class="col-md-4">

                                        @if (note.PhotoPath == null)
                                        {
                                            <img src="\images\default-user.png" style="width:100px; height:auto" />
                                        }
                                        else
                                        {
                                            <img src="\images\@note.PhotoPath" style="width:100px; height:auto" />
                                        }

                                    </div>
                                    <div class="col-md-8">
                                        <div>
                                            <a asp-controller="account" asp-action="viewuser" asp-route-id="@note.EncryptedUserId">@note.PostedByUserName</a>
                                        </div>
                                        <div>
                                            <b>@note.PostTime</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Note Description -->
                        <div class="card shadow bg-light" style="flex-grow: 2">
                            <div class="card-block">
                                <div style="padding:20px">
                                    <p>
                                        @note.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                }
            }
            else
            {
                <h5 class="card-title text-center">
                    No Activity
                </h5>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title col-12 text-center" id="myModalLabel">Warning</h1>
            </div>
            <div class="modal-body">
                <h3 class="col-12 text-center">Are you sure?</h3>
                <h5 class="text-black-50 col-12 text-center">This action cannot be undone</h5>
            </div>
            <div class="modal-footer">
                <form asp-action="deletereport" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Ok</button>
                </form>
            </div>
        </div>
    </div>
</div>