@model BugReport

@{
    ViewBag.Title = "Issue Details";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Issue Details</h1>
    </div>

    <div>
        <a asp-controller="report" asp-action="update" asp-route-id="@Model.Id" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Update</a>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Delete</a>
    </div>

    <br />

    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Project</th>
                    <th>Category</th>
                    <th>View Status</th>
                    <th>Date Submitted</th>
                    <th>Last Update</th>
                </tr>
                <tr>
                    <td>@Model.Id</td>
                    <td>BugTracker</td>
                    <td>@Model.Category</td>
                    <td>Public</td>
                    <td>@Model.PostTime</td>
                    <td>@Model.LastUpdate</td>
                </tr>

                <tr class="spacer">
                    <td colspan="6"></td>
                </tr>

                <tr>
                    <th>Reporter</th>
                    <td>John</td>
                    <th>Assigned To</th>
                    <td>John</td>
                    <td colspan="2"></td>
                </tr>

                <tr>
                    <th>Priority</th>
                    <td>@Model.Priority</td>
                    <th>Severity</th>
                    <td>@Model.Severity</td>
                    <th>Reproducibility</th>
                    <td></td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td>@Model.Status</td>
                    <th>Resolution</th>
                    <td>@Model.Resolution</td>
                    <td colspan="2"></td>
                </tr>

                <tr>
                    <th>Summary</th>
                    <td colspan="5">@Model.Summary</td>
                </tr>

                <tr>
                    <th>Description</th>
                    <td colspan="5">@Html.Raw(Model.Description)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
