@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/admin-template/css/sb-admin-2.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/admin-template/js/sb-admin-2.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    </environment>

    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">
    </environment>

    <!-- Custom fonts for this template-->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Table -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <link href="~/css/site.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="home" asp-action="index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-ghost"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Bug Control</div>
            </a>

            <!-- Only display this if user is logged in -->
            @if (signInManager.IsSignedIn(User))
            {

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="home" asp-action="dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - View Reports -->
                <li class="nav-item">

                    <a class="nav-link" asp-controller="report" asp-action="viewReports">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>View Reports</span>
                    </a>
                </li>
            }

            <!-- Only create this link if user is an admin -->
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Access Control</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Admin Menu:</h6>
                            <a class="collapse-item" asp-controller="administration" asp-action="listusers">Manage Team</a>
                            <a class="collapse-item" asp-controller="administration" asp-action="roleslist">Manage Roles</a>
                            <a class="collapse-item" asp-controller="administration" asp-action="projectlist">Manage Projects</a>
                        </div>
                    </div>
                </li>
            }

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Sign In -->
            @if (signInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <form method="post" asp-controller="account" asp-action="logout">
                        <button type="submit" style="width:auto" class="nav-link btn btn-link">
                            <i class="fas fa-fw fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="account" asp-action="login">
                        <i class="fas fa-fw fa-sign-in-alt"></i>
                        <span>Sign In</span>
                    </a>
                </li>
            }

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- if signed in, show topbar -->
                @if (signInManager.IsSignedIn(User))
                {
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Topbar Search -->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" id="bugSearchInput" class="form-control bg-light border-0 small" placeholder="Search Bugs..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <a asp-controller="report" asp-action="issuedetails" asp-route-id="0" class="btn btn-primary">
                                        <i class="fas fa-search fa-sm"></i>
                                    </a>
                                </div>
                            </div>
                        </form>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@(User.FindFirst("FirstName").Value) @(User.FindFirst("LastName").Value)</span>
                                    <img class="img-profile rounded-circle" src="~/images/@(User.FindFirst("PhotoPath").Value)">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" asp-controller="account" asp-action="profile" asp-route-id="">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" asp-controller="account" asp-action="settings">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>
                                    <div class="dropdown-divider"></div>

                                    <form method="post" asp-controller="account" asp-action="logout">
                                        <button type="submit" class="dropdown-item btn-link">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            <span>Logout</span>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of Topbar -->
                }

                <div class="container-fluid">

                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
