
@model List<UserAssignViewModel>

<div class="container" style="padding:20px; width:80%; margin:auto">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Assign Users To A Report</h1>
    </div>

    <form method="post">
        <div class="card">
            <div class="card-header">
                <h2>Add or remove users from this report</h2>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="custom-control custom-radio m-1">
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].UserName" />
                        <input asp-for="@Model[i].IsSelected" name="operators" type="radio" value="@Model[i].UserName" class="custom-control-input" />
                        <label class="custom-control-label" asp-for="@Model[i].IsSelected">
                            @Model[i].UserName
                        </label>
                    </div>
                }
            </div>
            <div class="card-footer">
                <input type="submit" value="Update" class="btn btn-primary"
                       style="width:auto" />
            </div>
        </div>
    </form>
</div>