@model IEnumerable<Project>

@{
    ViewBag.Title = "All Projects";
}

<div class="container">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Current Projects</h1>
        <a asp-action="createproject" asp-controller="administration"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm"></i> Add Project</a>
    </div>

    <hr />


    @if (Model.Any())
    {
        foreach (var project in Model)
        {
            <div class="card shadow m-3">
                <div class="card-header d-lg-flex justify-content-between align-items-center">
                    <h4 class="font-weight-bold text-primary">@project.Name</h4>
                    <h5 class="font-weight-bold text-primary">@project.Created</h5>
                </div>

                <div class="card-body">
                    <h5 class="card-title">@project.Description</h5>
                </div>

                <div class="card-footer">
                    <form asp-action="DeleteProject" asp-route-id="@project.Id" method="post">

                        <span id="profileSpan_@project.Id" style="">
                            <a asp-action="editproject" asp-controller="administration"
                                asp-route-id="@project.Id" class="btn btn-primary" style="width:auto"><i class="fas fa-pen fa-fw"></i> Edit</a>
                        </span>

                        <span id="confirmDeleteSpan_@project.Id" style="display:none">
                            <span>Are you sure?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@project.Id', false)">No</a>
                        </span>

                        <span id="deleteSpan_@project.Id">
                            <a href="#" class="btn btn-danger"
                               onclick="confirmDelete('@project.Id', true)"><i class="fas fa-trash fa-fw" style="width:auto"></i> Delete</a>
                        </span>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card shadow">
            <div class="card-header">
                <h4 class="font-weight-bold text-primary">No Projects</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the "Add Project" button to add a project
                </h5>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}