@model RoleListViewModel

@{
    ViewBag.Title = "Roles";
}

<div class="container">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Current Roles</h1>
    </div>

    <hr />

    <div class="row">

        <!-- Admin Card-->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-3">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 font-weight-bold text-primary">Admin</h4>
                </div>

                <div class="card-body">
                    @foreach (var adminUser in Model.AdminUsers)
                    {
                        <h5 class="card-title font-weight-bold">@adminUser.FirstName @adminUser.LastName</h5>
                    }
                </div>

                <div class="card-footer">
                    <a asp-controller="administration" asp-action="editUsersInRole"
                       asp-route-id="@Model.AdminRoleID" class="btn btn-primary">
                        Add or Remove
                    </a>
                </div>
            </div>
        </div>

        <!-- Op Card-->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-3">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 font-weight-bold text-primary">Operations</h4>
                </div>

                <div class="card-body">
                    @foreach (var opUser in Model.OpUsers)
                    {
                        <h5 class="card-title font-weight-bold">@opUser.FirstName @opUser.LastName</h5>
                    }
                </div>

                <div class="card-footer">
                    <a asp-controller="administration" asp-action="editUsersInRole"
                       asp-route-id="@Model.OpRoleID" class="btn btn-primary">
                        Add or Remove
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
