@model ApplicationUser

@{
    ViewBag.Title = Model.UserName;
    var PhotoPath = "~/images/" + (Model.PhotoPath ?? "default-user.png");
}

<div class="container-fluid">
    <div style="padding-top:20px">

        <!-- Basic Information -->
        <div class="row">
            <div class="col">
                <div class="card shadow" style="padding:20px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4">
                                <img class="img-profile rounded-circle" src="@PhotoPath" style="width:250px; height:auto" asp-append-version="true" />
                            </div>
                            <div class="col-xl">
                                <h1 class="font-weight-bold">@Model.FirstName @Model.LastName</h1>
                                <h6>@Model.Email - Admin for @Model.Organization</h6>
                                <br />
                                <h5>About me:</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


